# Środowisko wirtualne (kluczowe dla narzędzia uv)
.venv/
env/
venv/

# Pamięć podręczna Pythona
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Dane i modele
data_raw/
!data_raw/README.md
data_processed/
models/

# Pliki systemowe i IDE
.DS_Store
.idea/
.vscode/