# Virtual environments
.venv/
env/
venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Data and generated artifacts
data_raw/*
!data_raw/README.md
!data_raw/CIC_IDS2017/
data_raw/CIC_IDS2017/*
!data_raw/CIC_IDS2017/README.md
!data_raw/CSE_CIC_IDS2018/
data_raw/CSE_CIC_IDS2018/*
!data_raw/CSE_CIC_IDS2018/README.md
data_processed/
models/
reports/

# System and IDE files
.DS_Store
.idea/
.vscode/
